<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}WildBook{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styleFooter.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('../../images/logoQH.ico') }}" />
</head>

<footer class="container-fluid">

    <div class="container">

        <div class="logowcs">
            <p><img class="footerlogo" src="https://wildcodeschool.fr/wp-content/uploads/2016/05/cropped-naviconWCS-300x300.png" alt="" width="80px" height="80px" /></p>
        </div>

        <div class="socialbloc">
                <h4>Suivez nous sur vos réseaux sociaux</h4>
        </div>

        <div class="social">
            <div class="socialfacebook">
                <a type="button" class="btn-floating btn-large btn-fb"><i class=" fa fa-facebook"></i></a>
            </div>
            <div class="twitter">
                <a type="button" class="btn-floating btn-large btn-tw"><i class=" fa fa-twitter"></i></a>
            </div>
            <div class="linkedin">
                <a type="button" class="btn-floating btn-large btn-fb"><i class=" fa fa-facebook"></i></a>
            </div>
            <div class="youtube">
                <a type="button" class="btn-floating btn-large btn-fb"><i class=" fa fa-facebook"></i></a>
            </div>
            <div class="instagram">
                <a type="button" class="btn-floating btn-large btn-fb"><i class=" fa fa-facebook"></i></a>
            </div>
            <div class="github">
                <a type="button" class="btn-floating btn-large btn-fb"><i class=" fa fa-facebook"></i></a>
            </div>
        </div>

    <section>
        <div class="wildcodeschool">

        </div>
        <div class="nosecoles">

        </div>
        <div class="a propos">

        </div>
        <div class="notreblog">

        </div>
    </section>

    </div>


</footer>