{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>wilders en tableau moche</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>test1</td>
        </tr>
        </tbody>
    </table>
{% endblock %}