{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid img1">
        <h1>NOS REALISATIONS</h1>
    </div>

    <div class="container">

        <div class="sub-title">
            <h2>Trouver une réalisation</h2>
        </div>


        <div class="search area">
            <div class="search">

            </div>
            <div class="search selectors">

            </div>
        </div>

        <div class="realisation focus">

            <div class="sub-title"></div>
            <div class="sub-title-text"></div>
            <div class="slider"></div>

        </div>




    </div>

    <div class="container-fluid img2">
    </div>



{% endblock %}