{% extends 'base_admin.html.twig' %}

{% block body %}
    <h1> Acces interdit </h1>

    {% if is_granted ( 'IS_AUTHENTICATED_FULLY' ) %}

    {% endif %}

    <p>
        The requested page couldn't be located. Checkout for any URL oooo
        misspelling or <a href= " {{ path ( 'book_admin_index' ) }} " > return to the homepage </a> .
    </p>
{% endblock %}
