{% extends 'layout_admin.html.twig' %}

{% block content %}
    <h1>Nouvelle Image Projet</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('project_edit' ,{ 'id': project.id } ) }}">Retour à la fiche du projet</a>
        </li>
    </ul>
{% endblock %}
