{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <!-- Navbar CSS -->
    <link rel="stylesheet" href="{{ asset('css/scrolling-nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ihover.min.css') }}">

{% endblock stylesheets %}

{% block nav %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top container-fluid" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll container-fluid">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Wild Code School</a>
            </div>

            <!-- Nav links for toggling to the sections -->
            <div class="collapse navbar-collapse navbar-ex1-collapse container-fluid">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#wildbook">Le Wildbook</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#wilders">Les Wilders</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#network">Notre réseau</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Les réalisations</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% endblock nav %}
