{% extends 'base_admin.html.twig' %}

{% block body %}

<div class="container-fluid">

    <div class="row col-md-4">

        <h1>Liste des Statuts Wilder</h1>

        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Label</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for availability in availabilities %}
                <tr>
                    <td>{{ availability.label }}</td>
                    <td>
                        <a href="{{ path('availability_edit', { 'id': availability.id }) }}" class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil"></span> edit
                        </a>
                    </td>
                    <td>
                        {{ render(controller('BookBundle:Availability:indexDelete', {'id': availability.id})) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-default" href="{{ path('availability_new') }}" role="button">Crée un nouveau statut</a>

    </div>
</div>

{% endblock %}