/** PAGE RECHERCHE REALISATIONS **/

.img1 {
    background-image: url("../images/image1b.jpg");
    height: 365px;
}

.img1 h1 {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    color: #ffffff;
    font-weight: 400;
}

.sub-title h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.blocksearch {
    margin-bottom: 20px;
    text-align: center;
}

.inputsearch {
    margin-right: 30px;
}

.btn-wcs {
    padding: 12px;
    border-radius: 50% !important;
    background-color: #f9a02e;
    color: #80cbc4;
    -webkit-box-shadow: 0px 0px 3px 1px #f9a02e;
    -moz-box-shadow: 0px 0px 3px 1px #f9a02e;
    box-shadow: 0px 0px 3px 1px #f9a02e;
}

.search-selectors {
    margin-top: 20px;
    padding-bottom: 100px;
    border-bottom: 2px solid grey;
}

.search-area {
    margin-bottom: 50px;
}

.realisation-focus {
    margin-top: 80px;
    margin-bottom: 80px;
}

.sub-title-slider h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.slider {
    margin-top: 95px;
}

.carousel-inner > .item > img {
    width: 1140px;
    height: 530px;
}

.list_realisations h4 {
    color: #0f0f0f;
}

.list_wilders h4 {
    color: #0f0f0f;
}

.img2 {
    background-image: url("../images/image1b.jpg");
    height: 365px;
}

#mapid {
    height: 580px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imageShearchWilder {
    width: 300px;
    height: 300px;
}

.imageShearchProject {
    width: 300px;
    height: 300px;
}

.error {
    margin-top: 200px;
    width: 650px;
    height: 200px;
}

/** PAGE ACCUEIL **/

.homeWilder {
    width: 400px;
}

/* ------------------------------ PARTIE PROPRE & VÉRIFIÉE------------------------------ */

/* ---------- Common ---------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fbfbfb;
    padding-top: 100px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f9a02e;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.shadow {
    box-shadow: 2.5px 4.33px 5px 0 rgba(0, 0, 0, 0.1);
}

/* ---------- Navbar  ---------- */

.navbar-toggle {
    border: none;
}

.navbar {
    background-color: rgba(251, 245, 251, .95);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #f9a02e;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #7b7b7b;
    padding-left: 80px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #7b7b7b;
    background-color: transparent;
}

/* ---------- Home ---------- */

.sectionDivider {
    border-width: 1px;
    border-color: darkgrey;
    padding: 0;
}

.leaflet-container .leaflet-control-attribution  {
    font-size: 0px;
}

.homeText {
    margin: 0 70px 0 0;
}

.fullWidthPicture {
    z-index: -99;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    width: 100%;
    height: auto;
    opacity: 0.9;
    padding: 0;
}

@media (min-width: 767px) {
    .fullWidthPictureContainer {
        z-index: -100;
        position: relative;
        width: 100%;
        height: 45vh;
        overflow: hidden;
        background-color: rgb(53, 56, 58);
    }

    .headerTitle {
        z-index: -98;
        position: absolute;
        text-align: center;
        color: #f1f1f1;
        top: 57%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-43%); /* tiré de la moitié de sa propre hauteur */
        width: 100%;
        font-size: 30pt;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .footerLogo {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-top: -40px;
    }

    .footerH4 {
        font-size: 16pt;
        color: #fbfbfb;
        text-align: center;
        margin-bottom: 45px;
        margin-top: 45px;
    }

    .footerSocialIcon i {
        width: 50px;
        height: 50px;
        color: #FFF;
        background-color: #35383a;
        font-size: 20px;
        text-align: center;
        margin-right: 10px;
        padding-top: 15px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .paragraphTitle {
        font-size: 26pt;
        text-align: center;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .paragraphText {
        font-size: 16pt;
        font-weight: 400;
        line-height: 21pt;
        text-align: center;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .homeButton {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 2.3px;
        color: #f1f1f1;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        background-color: #f9a02e;
        height: 30px;
        border-radius: 3%;
    }
}

@media (max-width: 767px) {
    .fullWidthPictureContainer {
        z-index: -100;
        position: relative;
        width: 100%;
        height: 34vh;
        overflow: hidden;
        background-color: rgb(53, 56, 58);
    }

    .headerTitle {
        z-index: -98;
        position: absolute;
        text-align: center;
        color: #f1f1f1;
        top: 52%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-48%); /* tiré de la moitié de sa propre hauteur */
        width: 100%;
        font-size: 25pt;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .footerLogo {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-top: -30px;

    }

    .footerH4 {
        font-size: small;
        color: #fbfbfb;
        text-align: center;
        margin-bottom: 45px;
        margin-top: 45px;
    }

    .footerSocialIcon i {
        width: 40px;
        height: 40px;
        color: #FFF;
        background-color: #35383a;
        font-size: 20px;
        text-align: center;
        margin-right: 10px;
        padding-top: 10px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .paragraphTitle {
        font-size: 20pt;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .paragraphText {
        font-size: 14pt;
        font-weight: 400;
        line-height: 20pt;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .homeButton {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 8px;
        color: #f1f1f1;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.5px;
        background-color: #f9a02e;
        height: 30px;
        border-radius: 3%;
    }
}

.headerPicture {
    margin-top: -100px;
    margin-bottom: 30px;
}

.footerPicture {
    margin-top: 30px;
}

footer {
    z-index: 100;
    background-color: #35383a;
    color: #f1f1f1;
    text-align: center;
    font-size: xx-small;
}

.footerSocial {
    display: flex;
    justify-content: center;
}

.footerSocialIcon i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.footerSocialIcon .fa-facebook:hover {
    background: #4060A5;
}

.footerSocialIcon .fa-twitter:hover {
    background: #00ABE3;
}

.footerSocialIcon .fa-linkedin:hover {
    background: #0094BC;
}

.footerSocialIcon .fa-youtube:hover {
    background: #FF1F25;
}

.footerSocialIcon .fa-github:hover {
    background: black;
}

.footerSocialIcon .fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 100%,
    #fec564, transparent 50%), radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
}

.footerCopyrights {
    margin: 45px 0;
}

/** PAGE RECHERCHE WILDERS **/

.wilderAutocompletion {
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-searchWilder {
    margin-top: 15px;
}

.carousel-inner > .item > img {
    width: 1140px;
    height: 460px;
}

.image-listWilders {
    background-size: cover;
    max-width: 100%;
    height: 250px;
}

.img-listWilders {
    display: none;
}

.vignetteWilder {
    height: 325px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 35px;
    margin-left: 45px;
    margin-right: 45px;
}

.titreVignetteWilder {
    margin-top: 15px;
}

.titreVignetteWilder h4 {
    margin-top: 20px;
}

.titreVignetteWilder h5 {
    margin-top: 15px;
}

.modjoWilder {
    margin-top: 15px;
}

.modjoWilder h4 {
    font-style: italic;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.image-listWilders:hover .middle {
    opacity: 1;
}

.hoverDispoWilder {
    background-color: #f9a02e;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.blocksearch {
    margin-top: 30px;
}

/** PAGE RECHERCHE REALISATIONS **/

.projectAutocompletion {
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-searchProject {
    margin-top: 15px;
}

.carousel-inner > .item > img {
    width: 1140px;
    height: 530px;
}

.img_project_carousel {
    height: 530px;
}

.image-listProjects {
    background-size: cover;
    max-width: 100%;
    height: 250px;
}

.img-listProjects {
    display: none;
}

.vignetteProject {
    height: 325px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 35px;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 0px;
    padding-right: 0px;
}

.titreVignetteProject {
    margin-top: 15px;
}

.titreVignetteProject h3 {
    color: #0f0f0f;
    text-align: center;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.image-listProjects:hover .middle {
    opacity: 1;
}

.hoverDispoProject {
    background-color: #f9a02e;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.blocksearch {
    margin-top: 30px;
}

h3.projectTitleCarousel {
    color: #0f0f0f;
    font-size: 24px;
}

p.projectTitleCarousel {
    color: #0f0f0f;
}

/** PAGE REALISATION **/

.jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
}

.projectTitleDetail {
    text-align: center;
}

.imgPrincipaleProject {
    height: 500px;
    width: 150%;
}

.imagePrincipaleProject {
    margin-left: 50px;
    margin-right: 50px;
    height: 500px;
}

.subtitleProject {
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtitleProjectCustomer {
    font-size: 34px;
    font-weight: bold;
    line-height: 24px;
}

.subtitleProjectPromotion {
    font-size: 34px;
    font-weight: normal;
    line-height: 24px;
    text-align: end;
}

.projectContent {
    margin-top: 10px;
    margin-bottom: 35px;
}

.projectContentLeft {
    text-align: end;
}

.projectType p {
    font-size: 20px;
    line-height: 30px;
}

.projectStatut p {
    font-size: 20px;
    line-height: 30px;
}

.langages {
    margin-top: 30px;
    margin-bottom: 30px;
}

.langages h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.langages ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.langages li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    list-style: none;
}

.technologies {
    margin-top: 30px;
    margin-bottom: 30px;
}

.technologies h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.technologies ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.technologies li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    list-style: none;
}

.lienWilders {
    color: #000000;
}

.wilders h4 {
    font-weight: bold;
}

.wilders {
    margin-top: 30px;
    margin-bottom: 30px;
}

.wilders h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.wilders ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.wilders li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    list-style: none;
}

.ecole {
    margin-top: 30px;
    margin-bottom: 30px;
}

.ecole h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.tags {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tags li {
    color: #7B7B7B;
    font-size: 20px;
    list-style: none;

}

.urlProject p {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 30px;
}

.urlProject a {
    color: #000000;
}

.shortDescription {
    margin-bottom: 30px;
    margin-top: 30px;
}

.shortDescription p {
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    color: #000000;
}

.description {
    margin-bottom: 0px;
    margin-top: 30px;
}

.description p {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.imgProject {
    margin-top: 40px;
    margin-bottom: 90px;
}

/** Profil Wilder **/

.modjoProfilWilder {
    margin-bottom: 40px;
    margin-top: 40px;
}

.modjoProfilWilder p {
    font-size: 34px;
    font-style: italic;
    text-align: center;
}

.profilWilder {
    margin-bottom: 40px;
}

h3.firstnameWilder {
    margin-top: 0px;
    line-height: 30px;
    font-size: 34px;
    font-weight: 600;
}

h3.lastnameWilder {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 34px;
    font-weight: 600;
}

p.promotionWilder {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 20px;
    font-weight: 600;
}

p.dispoWilder {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 0px;
}

p.freelanceWilder {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 20px;
}

p.websiteWilder {
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 30px;
}

a.websiteWilder {
    color: #000000;
}

.socialProWilder {
    display: flex;
}

.socialPersoWilder {
    display: flex;
}

.iconsocial {
    height: 40px;
    margin-bottom: 30px;
}

.iconsocial i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #35383a;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.iconsocial i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.iconsocial .fa-linkedin:hover {
    background: #0094BC;
}

.iconsocial .fa-facebook:hover {
    background: #4060A5;
}

.iconsocial .fa-twitter:hover {
    background: #00ABE3;
}

.iconsocial .fa-github:hover {
    background: #343434;
}

.codewars a {
    color: #000000;
}

.contentProfilWilder {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contentProfilWilderLeft {
    text-align: end;
}

.langagesWilder {
    margin-top: 0px;
    margin-bottom: 30px;
}

.langagesWilder h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.langagesWilder ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.langagesWilder li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    list-style: none;
}

.technologiesWilder {
    margin-top: 30px;
    margin-bottom: 30px;
}

.technologiesWilder h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.technologiesWilder ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.technologiesWilder li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    list-style: none;
}

.competences {
    margin-top: 30px;
    margin-bottom: 30px;
}

.competences h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.competences p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.contentProfilWilderRight {

}

.contentProfilWilderRight p {
    font-size: 20px;
    line-height: 30px;
}

.imgProjectWilder {
    margin-bottom: 90px;
}

.wilderTransition {
    margin-top: -32px;
    background-color: #FBFBFB;
}

.wilders_project_collection label.required {
    display: none;
}

.collection-actions {
    display: inline-block;
}

.imgProjectWilder {
    margin-bottom: 90px;
}

