/** PAGE RECHERCHE REALISATIONS **/

.img1 {
    background-image: url("../images/image1b.jpg");
    height: 365px;
}

.img1 h1 {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    color: #ffffff;
    font-weight: 400;
}

.sub-title h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.blocksearch {
    margin-bottom: 20px;
    text-align: center;
}

.inputsearch {
    margin-right: 30px;
}

.btn-wcs {
    text-decoration: none;
    padding: 12px;
    border-radius: 50% !important;
    background-color: #f9a02e;
    color: #fbfbfb;
    -webkit-box-shadow: 0px 0px 3px 1px #f9a02e;
    -moz-box-shadow: 0px 0px 3px 1px #f9a02e;
    box-shadow: 0px 0px 3px 1px #f9a02e;
}

.search-selectors {
    margin-top: 20px;
    padding-bottom: 100px;
    border-bottom: 2px solid grey;
}

.search-area {
    margin-bottom: 1em;
}

.realisation-focus {
    margin-top: 30px;
    margin-bottom: 60px;
}

.sub-title-slider h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.slider {
    margin-top: 95px;
}

.carousel-inner > .item > img {
    width: 1140px;
    height: 530px;
}

.list_realisations h4 {
    color: #0f0f0f;
}

.img_project_carousel {
    height:760px;
}

.list_wilders h4 {
    color: #0f0f0f;
}

.img2 {
    background-image: url("../images/image1b.jpg");
    height: 365px;
}

#mapid {
    height: 580px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imageShearchWilder {
    width: 300px;
    height: 300px;
}

.imageShearchProject {
    width: 300px;
    height: 300px;
}

.error {
    margin-top: 200px;
    width: 650px;
    height: 200px;
}

/* ------------------------------ PARTIE PROPRE & VÉRIFIÉE------------------------------ */

/* ---------- Common ---------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fbfbfb;
    padding-top: 100px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f9a02e;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.shadow {
    box-shadow: 2.5px 4.33px 5px 0 rgba(0, 0, 0, 0.1);
}

/* ---------- Navbar  ---------- */

.navbar-toggle {
    border: none;
}

.navbar {
    background-color: rgba(251, 245, 251, .95);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #f9a02e;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #7b7b7b;
    padding-left: 80px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #7b7b7b;
    background-color: transparent;
}

/* ---------- Home ---------- */

.leaflet-container .leaflet-control-attribution {
    font-size: 0px;
}

.leaflet-popup-content-wrapper {
    text-align: center;
    background-color: rgba(241, 241, 241, .85);
    color: rgb(53, 56, 58);
}

.leaflet-container a {
    /*text-decoration: none;*/
    color: rgb(53, 56, 58);
}

.leaflet-marker-icon leaflet-zoom-animated leaflet-interactive {

}

.sectionDivider {
    border-width: 1px;
    border-color: darkgrey;
    padding: 0;
    margin: 15;
}

.homeText {
    margin: 0 70px 0 0;
}

.fullWidthPicture {
    z-index: -99;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    width: 100%;
    height: auto;
    opacity: 0.9;
    padding: 0;
}

@media (min-width: 767px) {
    .fullWidthPictureContainer {
        z-index: -100;
        position: relative;
        width: 100%;
        height: 45vh;
        overflow: hidden;
        background-color: rgb(53, 56, 58);
    }

    .headerTitle {
        z-index: -98;
        position: absolute;
        text-align: center;
        color: #f1f1f1;
        top: 57%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-43%); /* tiré de la moitié de sa propre hauteur */
        width: 100%;
        font-size: 30pt;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .footerLogo {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-top: -40px;
    }

    .footerH4 {
        font-size: 16pt;
        color: #fbfbfb;
        text-align: center;
        margin-bottom: 45px;
        margin-top: 45px;
    }

    .footerSocialIcon i {
        width: 50px;
        height: 50px;
        color: #FFF;
        background-color: #35383a;
        font-size: 20px;
        text-align: center;
        margin-right: 10px;
        padding-top: 15px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .paragraphTitle {
        font-size: 26pt;
        text-align: center;
        padding: 0;
    }

    .paragraphText {
        font-size: 16pt;
        font-weight: 400;
        line-height: 21pt;
        text-align: center;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .homeButton {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 8px;
        color: #f1f1f1;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        background-color: #f9a02e;
        height: 40px;
        border-radius: 3%;
    }

    .homeButton:hover {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 6px;
        color: #f1f1f1;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;
        background-color: #f9a02e;
        height: 40px;
        border-radius: 3%;
    }
}

.btn-wcs-classic {
    background-color: #f9a02e;
    text-decoration: none;
    color: #fbfbfb;
}

.wilderHomeFirstName {
    font-weight: 600;
}

.wilderHomeLastName {
    font-weight: 600;
    text-transform: uppercase;
}

.wilderHomeDescription {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .fullWidthPictureContainer {
        z-index: -100;
        position: relative;
        width: 100%;
        height: 34vh;
        overflow: hidden;
        background-color: rgb(53, 56, 58);
    }

    .headerTitle {
        z-index: -98;
        position: absolute;
        text-align: center;
        color: #f1f1f1;
        top: 52%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-48%); /* tiré de la moitié de sa propre hauteur */
        width: 100%;
        font-size: 20pt;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .footerLogo {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-top: -30px;

    }

    .footerH4 {
        font-size: small;
        color: #fbfbfb;
        text-align: center;
        margin-bottom: 45px;
        margin-top: 45px;
    }

    .footerSocialIcon i {
        width: 40px;
        height: 40px;
        color: #FFF;
        background-color: #35383a;
        font-size: 20px;
        text-align: center;
        margin-right: 10px;
        padding-top: 10px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .paragraphTitle {
        font-size: 20pt;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .paragraphText {
        font-size: 14pt;
        font-weight: 400;
        line-height: 20pt;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .homeButton {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 8px;
        color: #f1f1f1;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.5px;
        background-color: #f9a02e;
        height: 30px;
        border-radius: 2%;
    }
}

.wilderStar {
    height: auto;
}

.geolocationPicture {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.headerPicture {
    margin-top: -100px;
    margin-bottom: 30px;
}

.footerPicture {
    margin-top: 30px;
}

footer {
    z-index: 100;
    background-color: #35383a;
    color: #f1f1f1;
    text-align: center;
    font-size: xx-small;
}

.footerSocial {
    display: flex;
    justify-content: center;
}

.footerSocialIcon i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.footerSocialIcon .fa-facebook:hover {
    background: #4060A5;
}

.footerSocialIcon .fa-twitter:hover {
    background: #00ABE3;
}

.footerSocialIcon .fa-linkedin:hover {
    background: #0094BC;
}

.footerSocialIcon .fa-youtube:hover {
    background: #FF1F25;
}

.footerSocialIcon .fa-github:hover {
    background: black;
}

.footerSocialIcon .fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 100%,
    #fec564, transparent 50%), radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
}

.footerCopyrights {
    margin: 45px 0;
}

/* ---------- Search pages ---------- */

.formTitle {
    font-size: 26pt;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #35383a;
}

label {
    font-weight: 400;
    font-size: 14pt;
    margin-top: 20px;
    color: #35383a;
}

input {
    border-radius: 0;
    margin: 0;
    border: solid 1px #f9a02e;
    height: 32px;
    padding-left: 15px;
    width: 218px;
}

.alternativeText {
    color: rgba(123, 123, 123, .85);
    font-style: italic;
    font-size: 8pt;
}

.bootstrap-select {
    border-radius: 0;
    border: solid 1px #f9a02e;
    margin: 0;
    width: 100%;
}

.dropdown-toggle {
    border-radius: 0;
    border: none;
    width: 100%;
}

.dropdown-menu {
    border-radius: 0;
    border: outset 1px #f9a02e;
    width: 100%;
}

.submitButton {
    border-radius: 50%;
    border: none;
    background-color: #f9a02e;
    height: 30px;
    width: 30px;
    color: #fbfbfb;
    font-size: 12pt;
    margin-top: 50px;
    margin-bottom: 30px;
}

.submitButton:hover {
    border-radius: 50%;
    border: none;
    background-color: #f9a02e;
    height: 30px;
    width: 30px;
    color: #fbfbfb;
    font-size: 14pt;
    margin-top: 50px;
    margin-bottom: 30px;
}

/** PAGE RECHERCHE WILDERS **/

.wilderAutocompletion {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-searchWilder {
    margin-top: 15px;
}

.carousel-inner > .item > img {
    width: 1140px;
    height: 460px;
}

.img-listWilders {
    max-width: 100%;
    max-height: 240px;
    margin-top:1em;
}

.thumbnail {
    min-height: 325px;
    margin-top: 1em;

}

.modjoWilder {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 1.3em;
    color:grey;
    min-height:3em;
}


.middle {
   font-size: 1.1em;
}


.hoverDispoWilder {
    background-color: #f9a02e;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


/** PAGE RECHERCHE REALISATIONS **/

.projectAutocompletion {
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-searchProject {
    margin-top: 15px;
}

.carousel-inner > .item > img {
    width: 1140px;
    height: 530px;
}

.img_project_carousel {
    height: 530px;
}



.vignetteProject {
    height: 325px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 35px;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 0px;
    padding-right: 0px;
}

.vignetteProject-sm {
    height: 200px;

}

.vignetteProject:hover .big-plus {
    display:block;
}

.titreVignetteProject {
    margin-top: 15px;
}

.titreVignetteProject h3 {
    color: #0f0f0f;
    text-align: center;
}


.image-listProjects:hover .middle {
    opacity: 1;
}

.hoverDispoProject {
    background-image: url('../images/logoOrangeBlanc.png');
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.blocksearch {
    margin-top: 0.5em;
}

h3.projectTitleCarousel {
    color: #ffffff;
    font-size: 30px;
}

p.projectTitleCarousel {
    color: #ffffff;
    font-size: 24px;
    font-style: italic;
}

/** PAGE REALISATION **/

.jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
}

.projectTitleDetail {
    text-align: center;
}

.imgPrincipaleProject {
    height: 300px;
}
.imgPrincipaleProject img {
    max-height:300px;
}

.imagePrincipaleProject {
    margin-left: 50px;
    margin-right: 50px;
    height: 500px;
}

.subtitleProject {
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtitleProjectCustomer {
    font-size: 2em;
    line-height: 24px;
}

.subtitleProjectPromotion {
    margin-top:1em;
    font-size: 2em;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
}

.projectContent {
    margin-top: 10px;
    margin-bottom: 35px;
}

.projectContentLeft {
    text-align: end;
}

.projectType p {
    font-size: 20px;
    line-height: 30px;
}

.projectStatut p {
    font-size: 20px;
    line-height: 30px;
}

.langages {
    margin-top: 30px;
    margin-bottom: 30px;
}

.langages h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.langages ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.langages li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    list-style: none;
}

.technologies {
    margin-top: 30px;
    margin-bottom: 30px;
}

.technologies h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.technologies ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.technologies li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    list-style: none;
}

.lienWilders {
    color: #000000;
}

.wilders h4 {
    font-weight: bold;
}



.wilders h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.wilders ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.wilders li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.6em;
    list-style: none;
    display:inline-block;
}
.delim {
    font-size: 1.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.ecole {
    margin-top: 30px;
    margin-bottom: 30px;
}

.ecole h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.tags {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tags li {
    color: #7B7B7B;
    font-size: 20px;
    list-style: none;

}

.urlProject p {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 30px;
}

.urlProject a {
    color: #000000;
}

.shortDescription {
    margin-bottom: 30px;
}

.shortDescription p {
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    color: #000000;
}

.description {
    margin-bottom: 0px;
    margin-top: 30px;
}

.description p {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.imgProject {
    margin-top: 40px;
    margin-bottom: 90px;
}

/** Profil Wilder **/

.modjoProfilWilder {
    margin-bottom: 40px;
    margin-top: 40px;
}

.modjoProfilWilder p {
    font-size: 34px;
    font-style: italic;
    text-align: center;
}

.profilWilder {
    margin-bottom: 40px;
}

h3.firstnameWilder {
    margin-top: 0px;
    line-height: 30px;
    font-size: 34px;
    font-weight: 600;
}

h3.lastnameWilder {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 34px;
    font-weight: 600;
}

p.promotionWilder {
    font-size: 1.5em;
    line-height: 34px;
    margin-bottom: 20px;
    font-weight: 600;
}
.promotionWilder span {
    font-weight: normal;
}
.dispoWilder {
    font-size: 1.2em;
    line-height: 34px;
    margin-bottom: 0px;
}

p.freelanceWilder {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 20px;
}

p.websiteWilder {
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 30px;
}

a.websiteWilder {
    color: #000000;
}

.socialProWilder {
    display: flex;
}

.socialPersoWilder {
    display: flex;
}



.fa-circle {
    color: #35383a;
}
a:hover .fa-circle {
    color: #f9a02e;
}

.fa-circle+i {
    color: white;
}


.contentProfilWilder {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contentProfilWilderLeft {
    text-align: end;
}

.langagesWilder {
    margin-top: 0px;
    margin-bottom: 30px;
}

.langagesWilder h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.langagesWilder ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.langagesWilder li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    list-style: none;
}

.technologiesWilder {
    margin-top: 30px;
    margin-bottom: 30px;
}

.technologiesWilder h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.technologiesWilder ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.technologiesWilder li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    list-style: none;
}

.competences {
    margin-top: 30px;
    margin-bottom: 30px;
}

.competences h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.competences p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.contentProfilWilderRight {

}

.contentProfilWilderRight p {
    font-size: 20px;
    line-height: 30px;
}

.project-thumbnail {
    height: 300px;
}
.project-thumbnail img {
    max-height: 240px    ;
}

.wilders_project_collection label.required {
    display: none;
}

.collection-actions {
    display: inline-block;
}

