body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fbfbfb ;
}

/* -------------------------------------------------------------------------------------------------------------------*/

/* LOGO */
.navbar-brand {
    height: 80px;
}

.crud {
    padding-top: 40px;
}

.imageWilderAdmin {
    width: 100px;
}

.imageProjectAdmin {
    height: 100px;
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
}

.imageShearchWilderAdmin{
    width: 150px;
}

.imageShearchProjectAdmin{
    width: 150px;
}

.conex{
    margin-top: 25px;
    margin-right: 15px;
    color: white;
}