/* ---------- Common ---------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f9a02e;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.shadow {
    box-shadow: 2.5px 4.33px 5px 0 rgba(0, 0, 0, 0.1);
}

/* ---------- Home ---------- */

.homeIllustration {
    margin-top: 90px;
    height: 400px; /* hauteur maximale de l'image d'entête */
    overflow: hidden; /* les dépassements de l'image contenue seront masqués */
    background-color: rgba(128, 203, 196, 0.5);
}

.homePicture {
    width: 100%;
    height: auto;
}

.homeText {
    margin-top: 0 70px 0 0;
}

/* ---------- Footer ---------- */

footer {
    z-index: 100;
    background-color: #35383a;
    color: #f1f1f1;
    text-align: center;
    font-size: xx-small;
}

.footerLogo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
}

.footerH4 {
    font-size: medium;
    color: #fbfbfb;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 45px;
}

.footerSocial {
    display: flex;
    justify-content: center;
}

.footerSocialIcon i {
    width: 50px;
    height: 50px;
    color: #FFF;
    background-color: #35383a;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.footerSocialIcon i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.footerSocialIcon .fa-facebook:hover {
    background: #4060A5;
}

.footerSocialIcon .fa-twitter:hover {
    background: #00ABE3;
}

.footerSocialIcon .fa-linkedin:hover {
    background: #0094BC;
}

.footerSocialIcon .fa-youtube:hover {
    background: #FF1F25;
}

.footerSocialIcon .fa-github:hover {
    background: #343434;
}

.footerSocialIcon .fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 100%,
    #fec564, transparent 50%), radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
}

.footerCopyrights {
    margin: 45px 0;
}