body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fbfbfb ;
}

/* -------------------------------------------------------------------------------------------------------------------*/

/* LOGO */
.navbar-brand {
    height: 80px;
}

.crud {
    padding-top: 40px;
}