{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}

{% block content %}
<div class="container-fluid">
    <h1>Création de l'affectation projet</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <a href="{{ path('projectwilder_index') }}" class="btn btn-primary">Retour à la liste</a>

</div>
{% endblock %}
