{% extends 'base_admin.html.twig'%}

{% block body %}

    <p>Vous vous êtes correctement identifié</p>


    <p><a href="{{ path('adminwilder_page') }}">Accéder à l'espace réservé au wilder</a></p>

    <p><a href="{{ path('admin_page') }}">Accéder à l'espace réservé à l'administrateur</a></p>

{% endblock %}