{{ form_start(form, {'attr':{'class':'deleteProjectWilderForm'}}) }}
{{ form_widget(form) }}
<button class="btn btn-xs btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button>
{{ form_end(form) }}