{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    <div class="container">

    <h1>Annulation des projets mis en avant sur le site</h1>
    <p class="instruction">Valider la suppression des projets mis en avant
        sur le site en cliquant sur le bouton Annuler</p>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul id="projectList"></ul>
    <input type="submit" value="Annuler" />
    {{ form_end(form) }}

    </div>

{% endblock %}