Bonjour,<br/><br/>
Vous avez été inscrit sur le site du WildBook <br/><br/>
Veuillez saisir votre mot de passe <a href="{{ absolute_url(path("fos_user_resetting_reset", {token: token} ))  }}">ici!</a>

